.wrap {

 display: flex;
 justify-content: center;
 align-items: center;
 height: 1200px;
 width: 100%;
 @media screen and (max-width: 1020px) {
  height: 2000px;
 }

 .main {
  justify-content: center;
  margin-top: 250px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;


  .textBlockWrap {
   .textBlock {
    .portfolio {
     span {
      font-family: 'Righteous', cursive;
      font-weight: 400;
      color: dodgerblue;
      font-size: 1.05rem;
     }
    }

    .textTitle {
     padding-top: 10px;

     span {
      font-family: 'Nunito', serif;
      font-weight: 800;
      font-size: 1.5rem;
     }
    }
   }
  }
 }

 .projects {
  display: block;
  height: auto;

  .break {
   width: 100%;
  }


  .project {
   display: flex;
   justify-content: center;
   height: 400px;
   margin-top: 30px;
   @media screen and (max-width: 1020px) {
    flex-wrap: wrap;
    height: 800px;
    margin-top: 10px;
   }

   &:nth-child(2n) {
    .image {
     order: 2;
    }

    .projectTextBlock {
     order: 1;
    }

    @media screen and (max-width: 1020px) {
     .image {
      order: 1;
     }

     .projectTextBlock {
      order: 2;
     }
    }
   }

   .image {
    order: 1;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    max-height: 300px;
    min-height: 150px;

   }

   .projectTextBlock {
    order: 2;
    margin-left: 50px;
    width: auto;
    max-width: 400px;
    height: auto;
    align-self: flex-start;
    @media screen and (max-width: 1350px) {
     margin-left: 0;
    }


    .projectText {
     margin-top: 20px;
     text-align: center;
     font-family: 'Nunito', sans-serif;
     font-weight: 400;
     font-size: 16px;

     .text {
      text-align: center;
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: gray;
     }

     span {
      font-family: 'Nunito', serif;
      font-weight: 800;
      font-size: 25px;
     }

     span:not(:first-child) {
      margin: 10px;
      font-size: 20px;
     }

    }
   }

   .projectButton {

    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;


    a {
     font-family: 'Nunito', serif;
     font-weight: 900;
     font-size: 20px;
     padding: 10px;
     border: 1px solid;
     border-radius: 10px;
     transition: 0.5s;
     cursor: pointer;
     user-select: none;
     text-decoration: none;
     background: transparent;
     color: #000;
     margin: 5px;

     &:global(.dark) {
      color: white;

      img {
       filter: invert(1);
      }
     }

     img {
      width: 20px;
      margin-left: 2px;
     }

     &:hover {
      background: gray;
     }
    }
   }
  }
 }
}
